<div>
<header class="menu">
  <img src="img/icono.png">
  <nav id="menu" >
    <ul>
      <li>
        <div id="userbar">Loading...</div>
      </li>
    </ul>
  </nav>
</header>

<!-- router contents -->
<body>
<main id="maincontent">Loading...</main>
</body>

<footer id="main-footer">
  <div id="languagecontrol">Loading...</div>

</footer>
</div>
